<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>V-Chat_lobby</title>
    <link rel="stylesheet" href="../css/lobby.css">
    <script src="../js/index.js"></script>

</head>

<body>



<div class="container">
    
    <div class="card">
          <h1 class="card-title">Lobby</h1>
          <small class="card-subtitle">Enter Meeting Details</small>


          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div>
                <img src="../img/webrtc.png" alt="user" id="poster" style="width: 252px; height:202px;display: none; position:absolute;">
                <video id="webcam" autoplay playsinline poster="../img/webrtc.png" style="width: 250px; height:200px;"></video>
                
              </div>
              <div style="float: left; width: 80%;">
                <button id="audio_check"class="button"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="60" height="60"
                  viewBox="0 0 172 172"
                  style=" fill:rgb(43, 39, 39);"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,169.42c-46.07159,0 -83.42,-37.34841 -83.42,-83.42v0c0,-46.07159 37.34841,-83.42 83.42,-83.42v0c46.07159,0 83.42,37.34841 83.42,83.42v0c0,46.07159 -37.34841,83.42 -83.42,83.42z" fill="#0e0000"></path><g fill="#ffffff"><path d="M86,36.12c-8.07511,0 -14.62,6.54489 -14.62,14.62v29.24c0,8.07511 6.54489,14.62 14.62,14.62c8.07511,0 14.62,-6.54489 14.62,-14.62v-29.24c0,-8.07511 -6.54489,-14.62 -14.62,-14.62zM51.88667,79.98c0,17.17994 12.7163,31.35125 29.24,33.72309v15.01025h9.74667v-15.01025c16.5237,-2.37183 29.24,-16.54314 29.24,-33.72309h-9.74667c0,13.45527 -10.91139,24.36667 -24.36667,24.36667c-13.45527,0 -24.36667,-10.91139 -24.36667,-24.36667z"></path></g><path d="" fill="none"></path></g></g></svg></button>
                
                <button id="video_check"class="button"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                  width="60" height="60"
                  viewBox="0 0 172 172"
                  style=" fill:rgb(43, 39, 39);"><g transform=""><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><path d="M86,169.42c-46.07159,0 -83.42,-37.34841 -83.42,-83.42v0c0,-46.07159 37.34841,-83.42 83.42,-83.42v0c46.07159,0 83.42,37.34841 83.42,83.42v0c0,46.07159 -37.34841,83.42 -83.42,83.42z" fill="#000000"></path><g fill="#ffffff"><path d="M52.675,59.34c-4.6668,0 -8.33125,3.66445 -8.33125,8.33125v36.6575c0,4.6668 3.66445,8.33125 8.33125,8.33125h44.98875c4.6668,0 8.33125,-3.66445 8.33125,-8.33125v-36.6575c0,-4.6668 -3.66445,-8.33125 -8.33125,-8.33125zM127.65625,64.85945l-18.32875,9.78922v22.70266l18.32875,9.78922z"></path></g><path d="" fill="none"></path></g></g></svg></button>
                
              </div>
             
            </div>
          
          </div>
          <div style="float: left;">
          <form class="card-form">
              <label for="username">Username</label>
              <div class="card-input-container username">
                  <input type="text" name="userName" value="" id="userName" limit="10" placeholder="Name to be displayed">
              </div>
              <button class="card-button" style="width: 30%; float: right;"  id="register" onClick="register()">Set</button>
              <label for="password">Meeting Name</label>
              <div class="card-input-container password">
                  <input type="text" placeholder="Enter meeting name" disabled="disabled" name="room" value="" id="roomName">
              </div>
              <button class="card-button" id="joinRoom" disabled="disabled" onClick="joinRoom()">Join</button>   
          </form>
        </div>
      </div>
    </div>
 

</body>